body {
    background-image: url("https://assets.gqindia.com/photos/6540e2ba4622f7146b12b76b/16:9/w_2560%2Cc_limit/best-time-to-book-flights.jpg");
    background-color: #AAE6FF;
    text-align: center;
    /* background-size: 100% auto; */
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: #2E75B6;
}

a {
    color: #f5f1f9;
}

a:hover {
    color: #f0f0f0;
}

.predict-button {
    background-color:  #2E75B6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.predict-button:hover {
    background-color: #1b68e3;
    color: #f5f5f8;

}
